
* { 
    margin: 0;
    padding: 0;
}


.body{
  position: absolute;
}

.notice{
  height: 1000px;
  width:100%;
  text-align: center;
  background:black;
  opacity: 0.99;
  position: absolute;
  display: none;
}

.QRcode{
  margin-top:45%;
}
.QRCodeImg{
  width:80%;
}
.close{
  font-size:15px;
  color:#2aa515;
  padding-top: 30%;
}

.content{
  color:white;
}

.name{
    color:gray;
}

.userinfo{
  text-align: center;
  margin-top:15px;
  width:100%;
}
.userimg{
  width:50px;
  height:50px;
  border-radius:100%;
}
.kanjia_info{
    border-radius: 6px;
    padding-top:35px;
    width:94%;
    margin-left:3%;
    margin-top:-57px;
    height:120px;
    background: white;
}
.kanjia_info2{
    margin-left: 14px;
    width:94%;
}
.kanjia_info_carimg{
    display:inline-block;
    float:left;
    vertical-align: middle;
    padding-top:50px;
    width:17%;
}

.kanjia_info_carmess{
    display:inline-block;
    float:left;
    vertical-align: middle;
    padding-top:46px;
    font-size:12px;
    width:83%;
}

.carimg{
    width:50px;
    height:50px;
}
.carmess_title{
    color:black;
}
.carmess_more{
    color:gray;
}
.carmess_dijia{
    color:red;
    font-weight: bold;
}
.carmess_shichangjia{
    color:gray;
    text-decoration:line-through;
}
.carmess_kanjianum{
    float: right;
    margin-right: 8px;
}

.kanjia_middle{
    text-align: center;
    padding-top:25px;
}
.kanjia_time{
    text-align: center;
    margin-top:12px;
}
.kanjia_time_icon{
    width:14px;
    height:14px;
    vertical-align: middle;
}
.kanjia_time_num{
    font-size:14px;
    color:gray;
    vertical-align: middle;
}

.kanjia_price{
    line-height: 34px;
}
.kanjia_price_des{
    color:gray;
    font-size:16px;
}
.kanjia_price_num1{
    color:#2aa515;
    font-size:25px;
    font-weight: bold;
}

.kanjia_price_num2{
    color:#2aa515;
    font-size:16px;
    font-weight: bold;
}

.kanjia_guize{
  color:gray;
  font-size:13px;
  margin-top:15px;
}
.kanjia_button{
    margin-top:24px;
}
.kanjia_button1{
    width:90%;
    height:55px;
    background: #2aa515;
    border: none;
    border-radius:8px;
    font-size:22px;
    color:white;
}

.kanjia_button2{
  width:90%;
  margin-left: 5%;
  height:55px;
  background: #2aa515;
  border: none;
  border-radius:8px;
  font-size:22px;
  color:white;
  display: none;
}


.kanjia_bottom_title{
    line-height: 24px;
    margin-top:50px;
    width:94%;
    margin-left:3%;
    text-align: center;
}
.kanjia_record_title1{
    font-size: 18px;
}
.kanjia_record_title2{
    font-size: 12px;
    color:gray;
}

.kanjia_bottom_list{
  height:100%;
    margin-top:15px;
}
.kanjia_bottom_list_content{
  height:100%;
  width:84%;
  margin-left: 8%;
  margin-right: 8%;
}
.kanjia_bottom_list_userlogo{
  display: inline-block;
}
.kanjia_bottom_list_usermess{
  margin-bottom: 10px;
  display: inline-block;
  text-align: left;
  font-size:12px;
}
.kanjia_bottom_list_usernum{
    float: right;
}
.logo{
    width:30px;
    height: 30px;
    border-radius: 100%;
}

.time{
    color:#bdbaba;
}

.num{
    font-size:14px;
    color:#2aa515;
}
.tips{
  margin-top:30px;
  margin-bottom: 20px;
  font-size:12px;
  color:#bdbaba;
  text-align: center;
}

