
* { 
    margin: 0;
    padding: 0;
}
.cxms_top{
    width:100%;
    text-align: center;
    margin-top:20px;
    margin-bottom: 12px;
}

.title{
    color:#2aa515;
    font-size:20px;
    font-weight: bold;
}
.title2{
    color:gray;
    font-size: 13px;
}
.cxms_img{
    width: 94%;
    margin-left:3%;
}

.cxms_tips{
    width:100%;
    text-align: center;
    margin-top:28px;
    margin-bottom: 5px;
    font-size:6px;
    color:#d1d4d0;
}
