.xctm_top{
    text-align: center;
    padding-top:30px;
}

.xctm_top_title{
    color:#2aa515;
    font-size:22px;
    font-weight: bold;
}

.xctm_top_time{
    color:gray;
    font-size:12px;

}

.xctm_list{
    background: #fff;
    width:92%;
    margin-top:20px;
    margin-left:4%;
    border-radius:5px;
}
.xctm_list_img{
    width:100%;
    margin:0 auto;
    border-radius:5px;
    position: relative;
}
.xctm_list_title{
    font-size:20px;
    color: #000000;
    margin-left:4%;
    margin-top:10px;
    font-weight: bold;
    line-height: 28px;
    width:92%;
}
.xctm_list_price{
    font-size: 15px;
    color:gray; 
    padding-top:10px;
    padding-bottom: 15px;
    margin-left:4%;
}

.price_num_zhidao{
    color:black;
}
.price_num_shichang{
    color:black;
}

.price{
    line-height: 28px;
}
.price_num_temai{
    color:red;
    font-weight: bold;
}

.xctm_bottom{
    margin-top:23px;
    margin-bottom: 30px;
    font-size:12px;
    color:#bdbaba;
    text-align: center;
}

.xctm_list_canyu_num{
    float:right;
    margin-right: 4%;
}

