.temai-detail{
  background-color: #f3f1f1;
}

.tmxq_top,
.tmxq_middle {
  background: #ffffff;
  
}

.tmxq_middle{
  margin-top:16px;
}

.tmxq_img {
  /* height: 375px; */
  height: 100%;
  width: 100%;
  position: relative;
}

.time{
  position: relative;
}
.time_bg{
  position: absolute;
  height:45px;
  width:100%;
  border: none;
  bottom:0;
  left:0;
  margin-bottom: 7px;
  background:black;
  opacity: 0.4;
  z-index: 1;

}
.time_content{
  margin-left: 4%;
  z-index: 2;
  color:white;
  font-size:18px;
  float:left;
  position: absolute;
  margin-top: -42px;
}

.back {
  position: absolute;
  top: 10px;
  left: 0;
  
}

.icon-arrow_lift {
  display: block;
  padding: 10px;
  font-size: 20px;
  color: #fff;
}

.tmxq_jieshao {
  width: 100%;
  height:60px;
  font-size: 15px;
  color: black;
  margin-top:16px;
  background: #ffffff;

}

.tmxq_title {
  font-size: 20px;
  color: #000000;
  margin-left: 4%;
  font-weight: bold;
  width: 92%;
  margin-top: 10px;
  line-height: 28px;
}

.tmxq_price1 {
  font-size: 15px;
  color: gray;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 4%;
}

.tmxq_price2 {
  font-size: 18px;
  color: gray;
  padding-top: 16px;
  padding-bottom: 15px;
  margin-left: 4%;
  width: 92%;
  
}

.hr {
  width: 92%;
  margin-left: 4%;
  height: 0.6px;
  border: none;
  border-top: 0.6px dashed #bdbaba;
}

.tmxq_notice {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 92%;
  margin-left: 4%;
  line-height: 35px;
  color: gray;
  font-size: 15px;
}

.price {
  line-height: 28px;
}

.price_temai {
  color: black;
  vertical-align: middle;
  font-size:15px;
}

.canyu {
  position:fixed;
  bottom:0;
  width:100%;
}

.xianzhi {
  color: red;
  font-size: 12px;
  border: 1px solid red;
  border-radius: 3px;
  vertical-align: middle;
}

.price_num_temai {
  color: red;
  font-weight: bold;
  vertical-align: middle;
}

.button_canyu {
  background: #2aa515;
  border: none;
  width: 100%;
  height: 55px;
  font-size: 20px;
  color: white;
}

.jieshao{
  margin-left: 4%;
  padding-top:17px;
}


.tmxq_bottom{
  margin-top:35px;
  margin-bottom: 23px;
  font-size:12px;
  color:#bdbaba;
  text-align: center;
}