* { 
    margin: 0;
    padding: 0;
}

.body{
    width:100%;
    height: 100%;
    overflow: hidden;
}
.vipdid{
    width:100%;
    height: 100%;
}
.status{
    color:#2aa515;
    font-size:24px;
    text-align: center;
    margin-top: 60px;
    height:8%;
    
}
.vipinfo{
    color:gray;
    font-size:12px;
    line-height: 35px;
    margin-top:30px;
    height:65%;
    margin-left:28%;
}
.title{
    text-align: left;
}
.content{
    text-align: left;
    margin-left: 15px;
}
.did{
    text-align: center;
}
.button_did{
    width:100px;
    height:30px;
    border-radius: 2px;
    background: white;
    color:#2aa515;
    font-size:14px;
    border:1px solid #2aa515;
}