* { 
    margin: 0;
    padding: 0;
}

.detail{
    width:92%;
    margin-left: 4%;
    margin-top:25px;
    font-size:16px;
}
.titile{
    margin-top:20px;
}
.content{
    margin-top:6px;
    color:gray;
}
.content2{
    margin-top:6px;
    color:#2aa515;
}
.content3{
    margin-top:6px;
    color:gray;
    line-height: 30px;
}
