<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--typeAliases>
		<typeAlias alias="addressDO" type="com.sina.domain.AddressDO" />
	</typeAliases-->
	<mappers>
		<!-- sqlmap xml path config -->
		<mapper resource="sqlmap/sysRole-mybatis-sqlmap.xml" />
		<mapper resource="sqlmap/sysUserRole-mybatis-sqlmap.xml" />
		<mapper resource="sqlmap/sysRoleMenu-mybatis-sqlmap.xml" />
		<mapper resource="sqlmap/sysMenu-mybatis-sqlmap.xml" />
		<mapper resource="sqlmap/sysUser-mybatis-sqlmap.xml" />
		
		<mapper resource="sqlmap/topic-mybatis-sqlmap.xml" />
		<mapper resource="sqlmap/icheccNotice-mybatis-sqlmap.xml" />
		<mapper resource="sqlmap/itemDesc-mybatis-sqlmap.xml" />
		<mapper resource="sqlmap/vipDepositConfig-mybatis-sqlmap.xml" />
		<mapper resource="sqlmap/choiceOrder-mybatis-sqlmap.xml" />
		<mapper resource="sqlmap/member-mybatis-sqlmap.xml" />
		<mapper resource="sqlmap/depositRecord-mybatis-sqlmap.xml" />
		<mapper resource="sqlmap/itemPicture-mybatis-sqlmap.xml" />
		<mapper resource="sqlmap/icheccConstants-mybatis-sqlmap.xml" />
		<mapper resource="sqlmap/icheccUserInfo-mybatis-sqlmap.xml" />
		<mapper resource="sqlmap/icheccUser-mybatis-sqlmap.xml" />
		<mapper resource="sqlmap/wechatUser-mybatis-sqlmap.xml" />
		<mapper resource="sqlmap/topicItem-mybatis-sqlmap.xml" />
		<mapper resource="sqlmap/bargainRecord-mybatis-sqlmap.xml" />
		<mapper resource="sqlmap/item-mybatis-sqlmap.xml" />
		<mapper resource="sqlmap/specGroupLink-mybatis-sqlmap.xml" />
		<mapper resource="sqlmap/specGroup-mybatis-sqlmap.xml" />
		<mapper resource="sqlmap/itemAttribute-mybatis-sqlmap.xml" />
		<mapper resource="sqlmap/spec-mybatis-sqlmap.xml" />
		
	</mappers>
</configuration>