<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<context:property-placeholder location="classpath:config/metainfo.properties" order="100"/>
	<util:properties id="metap" location="classpath:config/metainfo.properties" />
	
	<context:component-scan base-package="com.ichecc.wechat.component">
	</context:component-scan>

	<bean id="config" class="com.ichecc.wechat.component.ApiCommonConfig" scope="singleton">
		<property name="appid" value="#{metap['wechatpay.appid']}" />
		<property name="secrectKey" value="#{metap['wechatpay.secrectKey']}" />
		<property name="mch_id" value="#{metap['wechatpay.mch_id']}" />
		<property name="notify_url" value="#{metap['wechatpay.unifiedorder_notify_url']}" />
	</bean>
	
	
		
</beans>